<%- include("../includes/head.ejs") %>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="container">
          <p class="greating">Login to get Started 😎</p>
          <div class="logo">
            <img src="/img/logo-no-background.webp" alt="logo" />
          </div>
          <a href="/" class="login-btn">Home</a>
        </div>
      </nav>
      
    <header/>
    <main class="d-flex justify-content-center align-items-center">
        <div class="container d-flex justify-content-center align-items-center flex-column">
            <form action="/login" method="post" class="d-flex justify-content-center align-items-center flex-column">
                <h2>Login</h2>
                <input type="text" name="user" placeholder="username">
                <input type="password" placeholder="password">
                <button type="submit"> login </button>
                <!-- <a href=""></a> -->
            </form>
        </div>
    </main>
<%- include("../includes/end.ejs") %>