<ul class="sidebar col-2">
    <li class="<%= path === "/settings" ? "active" : "" %>"><a href="/settings">Change Name</a></li>
    <li class="<%= path === "/change-email" ? "active" : "" %>"><a href="/change-email">Change Email</a></li>
    <li class="<%= path === "/change-password" ? "active" : "" %>"><a href="/change-password">Change password</a></li>
</ul>