<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
        <div class="container">
            <p class="greating">Search for any ID</p>
            <div class="logo">
            <img src="/assets/pics/logo-no-background.webp" alt="logo" />
            </div>
            <button class="login-btn">Search</button>
            <!-- <button class="logout-btn hidden">Logout</button> -->
        </div>
        </nav>
    <header/>
    <main class="d-flex align-items-center p-0">
      <div class="container">
        <div class="welcome">
          <h1>OverNight Production Tracker</h1>
          <div class="img__holder">
            <img src="/assets/pics/8-bTniNGuczY85cuG-removebg.webp" />
          </div>
        </div>
      </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>