.custom-container {
  width: 80%;
  margin: 0 auto;
}
.date {
  font-size: 16px;
  padding-left: 20px;
}
.info {
  background-color: var(--bg-100);
  margin: 0;
}
.info h2 {
  background-color: var(--bg-200);
}
.stats {
  margin-left: 5px;
  padding: 20px;
  gap: 15px 3px;
  justify-content: space-around;
  margin: 0;
}

h3 {
  text-align: center;
  position: relative;
  width: fit-content;
  margin: auto;
  background-color: transparent;
  z-index: 1;
}
h3::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50%;
  height: 10px;
  width: 10px;
  background-color: var(--primary-200);
  border-radius: 50%;
  z-index: -1;
}
h3::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50%;
  height: 10px;
  width: 10px;
  background-color: var(--primary-200);
  border-radius: 50%;
  z-index: -1;
}
.task-tracking:hover h3::after {
  animation: move-left 0.5s linear forwards;
}
.task-tracking:hover h3::before {
  animation: move-right 0.5s linear forwards;
}
.delay-body:hover h3::after {
  animation: move-left 0.5s linear forwards;
}
.delay-body:hover h3::before {
  animation: move-right 0.5s linear forwards;
}
/* .card-body:hover h2::after {
  animation: move-left 0.5s linear forwards;
}
.stats-body:hover h2::before {
  animation: move-right 0.5s linear forwards;
} */

@keyframes move-left {
  50% {
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  100% {
    right: 0;
    width: 50%;
    border-radius: 0;
    height: 100%;
  }
}

@keyframes move-right {
  50% {
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  100% {
    left: 0;
    width: 50%;
    border-radius: 0;
    height: 100%;
  }
}
.tasksNum {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.tasksNum span {
  text-align: center;
  font-size: 30px;
}
.tasksNum p {
  text-align: center;
  width: 100%;
  font-size: 10px;
  text-transform: capitalize;
}
.nums {
  margin-top: 10px;
  display: flex;
}
.crd .queue {
  margin-top: 20px;
}
.crd {
  box-shadow: 0px 3px 8px black;
  background-color: var(--bg-200);
  padding: 20px;
  border-radius: 20px;
}
.delay {
  padding: 20px;
  justify-content: center;
}
.delay-num,
.attendence-num {
  text-align: center;
}
.delay-num span,
.attendence-num span {
  font-size: 40px;
}
/* ////////////////////// SPL /////////////////// */

.spl-body .crd,
.hours-body .crd {
  margin: 20px auto;
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader {
  margin: auto;
  text-align: center;
}
main {
  margin-top: 20px;
}
.wid {
  padding-bottom: 50px;
}
#carouselExampleIndicators {
  height: 380px;
  margin: auto;
}
#carouselExampleIndicators .active {
  height: 380px;
  color: inherit !important;
}
.carousel-item {
  margin-top: 50px;
}
.carousel-item.active .crd {
  margin: 0 auto;
}
#carouselExampleIndicators button {
  display: flex;
  flex-direction: column;
  height: fit-content;

  width: fit-content;
  font-size: 40px;
}
.carousel-control-next {
  margin-right: 34px;
}
.carousel-control-prev {
  margin-left: 34px;
}
.task-tracking .crd {
  overflow: auto;
  border: 20px solid var(--bg-200);
  height: 350px;
  max-height: 350px;
  margin: auto;
  overflow: auto;
}
.spl-body .crd {
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow: hidden auto;
}
.spl-body .crd span {
  font-size: 30px;
}
