@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800;900&family=Tektur:wght@400;500;700;800&display=swap");

:root {
  --primary-100: #6c35de;
  --primary-200: #a364ff;
  --primary-300: #ffc7ff;
  --accent-100: #cb80ff;
  --accent-200: #373737;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #241b35;
  --bg-200: #342a45;
  --bg-300: #4d425f;
  --transition: 0.3s;
}

body {
  font-family: "Rubik", sans-serif;
  font-family: "Tektur", sans-serif;
  background-color: #eee;
}

/* .index-body{
    background: rgb(174,201,238);
    background: radial-gradient(circle, rgba(174,201,238,1) 0%, rgba(200,215,240,1) 58%, rgba(148,187,233,0.2806372549019608) 100%);
  } */
p,
h1 {
  margin: 0 !important;
  padding: 0 !important;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 20px;
  padding: 0 0 50px 0;
}

.container {
  position: relative;
}

/* Componnent */
.br-red {
  border: 2px solid red;
}

.z-drop {
  z-index: -10;
}

.z-pop {
  z-index: 10;
}

.navbar {
  background-color: transparent !important;
  box-shadow: 0px 0px 13px black;
}
.navbar-brand {
  width: 45px;
}
.navbar-brand img {
  max-width: 100%;
}
.navbar button {
  background-color: transparent;
  color: red;
  text-decoration: none;
  border: 1px solid red;
  padding: 2px 6px;
  border-radius: 3px;
  transition: 0.6s;
}
.navbar button:hover {
  background-color: red;
  color: white;
}

.side-nav ul {
  padding-left: 0;
}
footer {
  text-align: center;
}
footer a {
  color: black !important;
  text-decoration: none;
  transition: var(--transition);
}
footer a:hover {
  color: var(--primary-100) !important;
  text-decoration: underline;
}
