.info {
  height: calc(100vh - 205px) !important;
  display: block;
}
.scroller {
  display: block;
  overflow: hidden scroll;
  height: 350px;
  border: 1px solid black;
  box-shadow: 1px 1px 6px black;
}
.info .search {
  text-align: center;
  padding: 20px 0;
}
table {
  width: 100%;
  text-align: center;
}
th {
  color: var(--primary-100);
}
th,
td {
  border: 4px solid var(--bg-100);
}
.info {
  overflow: hidden !important;
}
a {
  text-decoration: none;
}
.save,
.edit {
  color: lightgreen;
  transition: var(--transition);
  cursor: pointer;
}
.save:hover,
.edit:hover {
  color: rgb(49, 161, 77);
}
.delete,
.cancel {
  border: none;
  background-color: transparent;
  color: lightcoral;
  transition: var(--transition);
}
.delete:hover,
.cancel:hover {
  color: rgb(207, 92, 92);
}
button,
a {
  color: lightgreen;
  /* transition: var(--transition); */
  /* cursor: pointer; */
  background-color: transparent;
  transition: var(--transition);
  border: none;
}
input {
  background-color: var(--bg-100);
  border: none;
  color: white;
  width: fit-content !important;
}
.scroller {
  position: relative;
}
.scroller .add {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--bg-100);
  padding: 1px 15px;
  font-size: 50px;
  border-radius: 100%;
  transition: var(--transition);
}
.scroller .add:hover {
  background-color: var(--bg-300);
}
