<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/labeler.css">
</head>
    <body>
        <header>
            <%- include("../includes/navigation.ejs") %>
        </header>
        <main>
            <div class="container">

            <div class="row">
              <%- include("../includes/side-nav.ejs") %>
                <div class=" main col-9 ">
                    <div class="info">
                        
                      </div>
                </div>
            </div>
        </div>
        </main>
    </body>
<%- include("../includes/end.ejs") %>